body{
	background: url("../images/suhome.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Chewy', cursive;
	text-align: right;
	margin-right: 10px;
	font-size: 20px;
}
.intro{
	width:500px;
	border: .5px solid yellow;
	padding: 10px;
	margin: 30px;
	float: right;
}
button{
	width:75px;
	height:75px;
	cursor: pointer;
	margin-top: 20px;
}
#amethyst{
	margin-top: 20px;
}
#win-loss-tracker{
	border: .5px solid yellow;
	width: 85px;
	float: left;
	text-align: left;
	margin-left: 425px;
	margin-top: 75px;
}
#ct{
	border: .5px solid yellow;
	float: left;
	text-align: left;
	width: 200px;
	margin-left: 425px;
	margin-top: 50px;
}
#startNumber{
	border: .5px solid yellow;
	float: left;
	text-align: left;
	width: 185px;
	margin-left: 425px;
	margin-top: 40px;
}